<div class="container">

  <div class="row">
    <ol class="breadcrumb lista-directorios">
      <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
      <li><a href="#">Carpeta 1</a></li>
      <li><a href="#">Carpeta 2</a></li>
      <li class="active">Carpeta 3</li>
    </ol>
  </div>
  <div class="table-responsive row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1"></th>
          <th class="col-md-3">Nombre</th>
          <th class="col-md-2">Modificado el</th>
          <th class="col-md-1"></th>
          <th class="col-md-1"><a class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span> Nuevo</a></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="glyphicon glyphicon-folder-open"></span></td>
          <td>Carpeta 4</td>
          <td>10/3/2014</td>
          <td><a class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> Ver Documento</a></td>
          <td><a class="btn btn-warning"><span class="glyphicon glyphicon-cloud-download"></span> Descargar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>